html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.background {
    position:static;
    box-sizing: content-box;
    margin: 0
}

.profile {
    margin-right: 75%;
    background-color: hsla(180, 0%, 46%, 40%);
}

.ppic {
    border-radius: 3em;
    size: 40px;
}

p {
    font-size: 4em;
}