html {
    box-sizing: border-box;
    
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* .background {
    box-sizing:border-box;
    margin: 0;
    display:inline-block;
    width: 100vw;
    height: 100vh;
} */

.profile {
    position:absolute;
    margin-right: 70%;
    background-color: hsla(180, 0%, 46%, 40%);
    height: 100%;
    font-size: 11px;
    text-align: center;
    padding: 30px 30px    

}

.ppic img {
    display:block;
    box-sizing: content-box;
    border-style: solid white;
    border-width: 6px;
    border-radius: 10em;
    size: 40px;
    width:50%;
    margin-left: auto;
    margin-right: auto;
} 
  

.main {
    position:absolute;
    display:flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
}

.main p {
    font-size: 24px;
}

body {
    display:flex;
    background-image: url("https://raw.githubusercontent.com/Adeeon/adeeon.github.io/main/Photos/background.jpg");
    background-size: cover;
    background-color: midnightblue;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-bottom: 0%;
}

.sub {
    color:hsla(0, 0%, 100%, 75%)
}

p {
    font-size: 4em;
}
.buttonicon {
    font-size: 24px;
    color:white;
    -moz-box-align: start;
}
